
.feed {
    display: flex;
    flex-direction: column; 
    gap: 30px;             
    max-width: 800px;       
    margin: 30px auto;     
    padding: 0 20px;
 }
 .post {
    color: #441b72;
    display: flex;
    flex-direction: column; 
    border: 1px solid #441b72;
    border-radius: 8px;
    padding: 20px;
    background-color: #f8f5fa;
 }
 
 .post img {
    max-width: 150px;
    height: auto;
    border-radius: 6px;
 }